body, html{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
#title {
    background-color: #d5b73f;
    padding: 7% 15% 0 15%;
    color: white;
}
h1 {
    font-size: 3rem;
}
h2, .img-wire {
    margin: 0;
}
.navnav{
    padding: 4% 15%;
    background-color: #d5b73f;
    color: white;
}

.navbar-brand {
    font-size: 1.4rem;
}

/* Testemunhos */

.card-header {
    color: #353535;
}
.test-icon {
    font-size: 1.5rem;
}

.heart-pressed {
    color: #e63946;
}
.star-pressed {
    color: #ffbe0b;
}
.smile-pressed {
    color: #457b9d;
}
.margintop-pattern{
    margin-top: 70px;
}

/*Atividades*/

.atividades {
    color: floralwhite;
    margin-top: 100px;
    padding: 100px 0;
    background-color: #4F6D7A;
}

.ativ-content {
    margin: 50px 0;
}

/* Domínio e escrituras*/

.margin-esc {
    margin-bottom: 40px;
}

/* Jogos*/

.margin-gam {
    padding-bottom: 60px;
}

#games {
    background-color: #758E4F;
    color: floralwhite;
    padding-bottom: 70px;
}

.btn-contact {
    color: #758E4F;
}

/* form */
s
.btn-form {
    clear: left;
    margin-left: 0;
    background-color: #758E4F;
    border-color: floralwhite;
}

form {
    padding: 70px;
}

form h2 {
    padding: 50px 0;
}

/*Footer*/

.footer {
    color: #353535;
    background-color: none;
    padding: 100px 0;
}
.contact-icon {
    color: #353535;
    padding: 10px 10px;
    font-size: 1.5rem;
}

/*@media (max-width: 992px){
    .navbar-brand {
        font-size: 2.2rem;
    }

    .row {
        padding: 0;
    }
    
    .navnav {
        font-size: 2rem;
        padding: 4% 2%;
        font-size: 2rem;
    }
    #title {
        padding: 7% 2%;
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }
}*/

/* SITE PLAN CSS */

.colors {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: floralwhite;
}
.maximum-green{
    background-color: #758E4F;
}

.cadet {
    background-color: #4F6D7A;
}

.chinese-yellow {
    background-color: #F6AE2D;
}

.orange-pantone {
    background-color: #F26419;
}

.dutch-white {
    background-color: #e8dab2;
}