body, html{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
#title {
    background-color: #006D77;
    padding: 7% 15%;
    color: white;
}
h1 {
    font-size: 3rem;
}
h2, .img-wire {
    margin: 70px 0;
}
.navnav{
    padding: 4% 15%;
    background-color: #006D77;
    color: white;
}

.navbar-brand {
    font-size: 1.4rem;
}

/* Testemunhos */

.testemunhos-card {
    padding: 7% 15%;
}
svg {
    width: 25px;
}

.testemunhos-icon {
    fill: grey;
}

.card-header {
    text-align: left;
}
#games {
    background-color: #83C5BE;
}

@media (max-width: 992px){
    .navbar-brand {
        font-size: 2.2rem;
    }

    .row {
        padding: 0;
    }
    
    .navnav {
        font-size: 2rem;
        padding: 4% 2%;
        font-size: 2rem;
    }
    #title {
        padding: 7% 2%;
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }
}

/* SITE PLAN CSS */

.colors {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: floralwhite;
}
.maximum-green{
    background-color: #758E4F;
}

.cadet {
    background-color: #4F6D7A;
}

.chinese-yellow {
    background-color: #F6AE2D;
}

.orange-pantone {
    background-color: #F26419;
}

.dutch-white {
    background-color: #e8dab2;
}